{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEVEL GYM - Comprar Producto</title>
    <link rel="stylesheet" href="{% static 'css/comprar.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="{% url 'index' %}"><img src="{% static 'images/icono.jfif' %}" alt="" height="50" width="100"></a>
            </div>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
                <li><a href="{% url 'planes' %}">Planes</a></li>
                <li><a href="{% url 'salud' %}">Salud</a></li> 
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Comprar Producto</h1>
            <div class="product-details">
                <h2>{{ producto.nombre }}</h2>
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="product-image">
                {% else %}
                    <p>Imagen no disponible.</p>
                {% endif %}
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <p>Cantidad disponible: {{ producto.cantidad }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button">Comprar</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 LEVEL GYM. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
