{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEVEL GYM - Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}"><img src="{% static 'images/icono.jfif' %}" alt="Logo LEVEL GYM" height="50" width="100"></a>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
                <li><a href="{% url 'planes' %}">Planes</a></li>
                <li><a href="{% url 'salud' %}">Salud</a></li> 
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Iniciar Sesión</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="button">Iniciar sesión</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 LEVEL GYM. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

